* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: auto;
  justify-content: space-between;
  padding: 20px 50px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.nav-header img {
  width: 60px;
  height: 60px;
}

.nav-header h3 {
  font-size: 26px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
}

li a {
  text-decoration: none;
  font-size: 20px;
}

.active {
  text-decoration: underline;
}
